*image{
    height:100%;
    width:50%;
    padding:20px;
    border:4px solid rgb(1, 7, 8);
    background-size:contain;
  }
  div{
    text-align:left;
    padding:20px;
    text-decoration:none;
    display:block;
  }
  .contacts:hover{
    background-color:blue;
    color:rgb(5, 0, 0);
  }
  h3{
    height:100%;
    width:50%;
  }
  p{
    background-color:#f2f2f2;
      color:black;
    position:relative;
    font-style:bold italic; 
  }
  body{
    color:blue;
    background-color:#7415ce;
  }