body{
  background-color:blueviolet;
}
#first, #second{
  display: contents;
  justify-content: space-evenly;
}
#first ,#second{
  height: 200px;
  width: 20%;
  display:contents;
  justify-content: center;
  align-content: inherit;
  border-bottom:solid blueviolet;
}
#third, #fourth{
  display: contents;
  justify-content:space-evenly ;
}
#third >, #fourth>div{
  height: 200px;
  width: 20%;
  display:contents;
  justify-content: center;
  align-content: inherit;
  border-bottom:solid blueviolet; 
}
#description{
  height: 200px;
  width: 20%;
  display:contents;
  image-rendering: auto;
  align-content:right;
  border-bottom:solid blueviolet;
}
p{
  height:300%;
  width: 50%;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  border: 4px;
  float: right;
  flex-direction: column-reverse;
  font-style: oblique;
}
div{
  image-rendering: optimizeQuality;
  align-items: center;
}
h3{
  font-size: 20px;
  font-weight: bolder;
  font-family: fantasy;
  color: rgb(6, 78, 22);
  box-shadow: ivory;
}
.contacts{
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
}

