*{
    font-family: sans-serif;
}
body{
    background-color:blueviolet;
}
#first, #second{
    display: contents;
    justify-content: space-evenly;
}
#first >,#second >div{
    height: 200px;
    width: 20%;
    display:contents;
    justify-content: center;
    align-content: inherit;
    border-bottom:solid blueviolet;
}
#third, #fourth{
    display: contents;
    justify-content:space-evenly ;
}
#third >, #fourth>div{
    height: 200px;
    width: 20%;
    display:contents;
    justify-content: center;
    align-content: inherit;
    border-bottom:solid blueviolet; 
}
#description{
    height: 200px;
    width: 20%;
    display:contents;
    justify-content: center;
    align-content: inherit;
    border-bottom:solid blueviolet; 
}
*image{
  height: 200px;
  width: 50%;
  padding:20px;
  border:4px solid blue;
  display: block;  
}
p{
    height:100%;
    width: 50%;
    font-size: inherit;
    font-style: normal;
    font-weight: bold;
}
image{
    background: black;
}


